<div class="new-thread" *ngIf="control.autenticato">
  <button class="pd"
          type="submit"
          (click)="insertnewTD()"> Create new post</button>
</div>

<h2 style="margin-top: 5px">Search Posts</h2>
<form class="search-form">
  <input type="text" class="form-control"  id="search" placeholder="Search title" [(ngModel)] = "search" [ngModelOptions]="{standalone: true}" (input)="sendword()">
</form>

<h2 style="margin-top: 10px">Latest News</h2>
<div class="news-section">
  <div class="news-box" *ngFor="let news of newsArray">
    <div style="display: inline-block; width: 100%;">
      <p style="float: left">{{news.authors}}</p>
      <p style="float: right">{{news.time_published}}</p>
    </div>
    <h1 style="weight: 800">{{news.title}}</h1>
    <a href="{{news.url}}" target="_blank" alt="Open the article's link">{{news.summary}}</a>
  </div>
</div>
