:host {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}

.board {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 5px;
}

.board::before {
  content: "";
  /*background: url("../../../assets/images/cover1.png") top center no-repeat;*/
  background: transparent;
  background-size: contain;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  /*opacity: 0.65;*/
}

.board-welcome {
  z-index: 2;
  padding: 5px 30px;
}

.navbar-dark {
  --bs-navbar-color:  chartreuse;
  --bs-navbar-hover-color: aqua;
}

.nav-link {
  color: #0353A4;
  font-weight: bold;
}
